<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NLP news article evaluation</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <div class="container">
      <header><h1>NLP analysis for News</h1></header>
      <div class="app">
        <form>
          <label>URL - https://en.wikipedia.org/wiki/Google</label>
          <input
            id="input"
            type="text"
            placeholder="type url"
            name="urlInput"
          />
          <div id="notification"></div>
          <button id="button" type="submit">submit</button>
        </form>

        <div id="result"></div>
      </div>
    </div>
    <footer>footer</footer>
    <script src="./main.js"></script>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
